.page{
  height: 100vh;
  margin: none;
  width: 100vw;
  background-color: #1a1919;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Black Ops One;
  font-weight: 500;
  font-size: 1.2rem;
}

.page-presentation{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 8rem;
}



.hightexts{
  color: #03fc0b;
}

.presentationText{
  color: #FFFFFF;
  width: 40rem;
  text-align: center;
  align-items: center;
  
}

.image{
  width: 16rem;
  border-radius: 100%;
  border: 0.3rem solid #03fc0b;
  margin-right: 5rem;
  height: 19rem;
}

.technologies{
  
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.technology{
  width: 3rem;
}